@import 'src/styles/variables.scss';
.contentBody {
    .body {
        p {
            font-size: 1.3em;
            line-height: 1.5em;
            margin: 1.625em 170px;
            text-align: justify;
            padding-bottom: 50px;
            border-bottom: 1px solid;
            color: $font-c;

            &:first-letter {
                font-size: 3em;
                line-height: 1em;
            }
            p + &:first-letter {
                font-size: 1em;
                line-height: 1.25em;
            }
            &:last-child {
                border-bottom: 0px solid;
            }
        }
        @media only screen and (min-width: $sm) and (max-width: $lg) {
            p {
                font-size: 1em;
                line-height: 1.5em;
                margin: -0.375em 12px;

                &:first-letter {
                    font-size: 2.5em;
                }
            }
        }
        @media only screen and (min-width: $xs) and (max-width: $sm) {
            p {
                font-size: 1em;
                line-height: 1.5em;
                margin: -0.375em 12px;
                &:first-letter {
                    font-size: 2.7em;
                }
            }
        }
        @media only screen and (max-width: $xs) {
            p {
                font-size: 1em;
                line-height: 1.5em;
                margin: -0.375em 12px;
                &:first-letter {
                    font-size: 2em;
                }
            }
        } 

        img {
            width: 150vh;
            margin-left: 100px;
        }
    }

}