@import 'src/styles/variables.scss';

.categoryTagsCont {
    background: $cat-normal-bg-alpha; 
    border-radius: 20px 0px 0px 20px;
    padding: 10px 0px 10px 15px;
    float: right;
    display: flex;    
    margin-top: 3%;
    color: black;
    
    &.technology {
        background: $cat-tech-bg-alpha; 
    }
    &.psychology {
        background: $cat-psych-bg-alpha;
    }
    &.motivation {
        background: $cat-motiv-bg-alpha;
    }
    &.spiritual {
        background: $cat-spirit-bg-alpha;
    }
    &.news {
        background: $cat-news-bg-alpha; 
    }
    &.projects {
        background: $cat-projects-bg-alpha;
    }
    &.abilities {
        background: $cat-ability-bg-alpha;
    }    
    &.product {
        background: $cat-products-bg-alpha;
    }
    
    p {
        border: 2px solid black;
        border-radius: 70px;
        padding: 5px 10px;
        margin: 0px 3px;        
    }
}