// $primary-color: gray;
// $primary-background: black;
// $primary-background-alpha: rgba(0,0,0,0.2);
// $second-color: white;
// $main-color: black;
// $body-background: rgb(33, 33, 33);
// $theme-color: #208bab;

// $primary-color: gray;
// $primary-background: white;
// $primary-background-alpha: rgba(255,255,255,0.2);
// $second-color: black;
// $main-color: white;
// $body-background: rgb(219, 219, 219);
// $theme-color: #20ab81;

//////////////////////////////////////////////////////

// $theme-c: #20ab81;
// $background: white;
// $background-rev: black;
// $font-c: black;
// $font-c-rev: white;
// $background-alpha: rgba(220, 220, 220, 0.2);
// $body-background: #e6e6e6;
// $logo-black: '/images/logos/greenBlack.png';
// $logo-white: '/images/logos/greenWhite.png';

// $font-white: white;
// $font-black: black;
// $gray: gray;

//////////////////////////////////////////////////////

$theme-c: #208bab;
$background: black;
$background-rev: white;
$font-c: white;
$font-c-rev: black;
$background-alpha: rgba(35,35,35,0.2);
$body-background: rgb(33, 33, 33);

$logo-black: '/images/logos/blueWhite.png';
$logo-white: '/images/logos/blueWhite.png';

$font-white: white;
$font-black: black;
$gray: gray;

//////////////////////////////////////////////////////


$cat-technology-bg-alpha: rgba(185, 37, 37, 0.5);
$cat-psychology-bg-alpha: rgba(41, 180, 28, 0.5);
$cat-motivation-bg-alpha: rgba(61, 59, 187, 0.5);
$cat-spiritual-bg-alpha: rgba(196, 126, 46, 0.5);
$cat-news-bg-alpha: rgba(185, 37, 37, 0.5);
$cat-projects-bg-alpha: rgba(41, 180, 28, 0.5);
$cat-abilities-bg-alpha: rgba(61, 59, 187, 0.5);
$cat-about-bg-alpha: rgba(196, 126, 46, 0.5);
$cat-products-bg-alpha: rgba(196, 126, 46, 0.5);

$cat-normal-bg-alpha: rgba(35,35,35,0.5);

$xs: 576px;
$sm: 768px;
$lg: 992px;
$xl: 1200px;
