// $primary-color: gray;
// $primary-background: black;
// $primary-background-alpha: rgba(0,0,0,0.2);
// $second-color: white;
// $main-color: black;
// $body-background: rgb(33, 33, 33);

$primary-color: gray;
$primary-background: white;
$primary-background-alpha: rgba(255,255,255,0.2);
$second-color: black;
$main-color: white;
$body-background: rgb(219, 219, 219);

$xs: 576px;
$sm: 768px;
$lg: 992px;
$xl: 1200px;
