// $primary-color: gray;
// $primary-background: black;
// $primary-background-alpha: rgba(0,0,0,0.2);
// $second-color: white;
// $main-color: black;
// $body-background: rgb(33, 33, 33);
// $theme-color: #208bab;

// $primary-color: gray;
// $primary-background: white;
// $primary-background-alpha: rgba(255,255,255,0.2);
// $second-color: black;
// $main-color: white;
// $body-background: rgb(219, 219, 219);
// $theme-color: #20ab81;

$theme-c: #20ab81;
$background: white;
$background-rev: black;
$font-c: black;
$font-c-rev: white;
$background-alpha: rgba(220, 220, 220, 0.2);
$body-background: #e6e6e6;

$font-white: white;
$font-black: black;
$gray: gray;

// $theme-c: #208bab;
// $background: black;
// $background-rev: white;
// $font-c: white;
// $font-c-rev: black;
// $background-alpha: rgba(35,35,35,0.2);
// $body-background: rgb(33, 33, 33);

// $font-white: white;
// $font-black: black;
// $gray: gray;



$xs: 576px;
$sm: 768px;
$lg: 992px;
$xl: 1200px;
