@import 'src/styles/variables.scss';

.articleConteiner {
  background-color: $body-background;

  .grid {
    display: grid;
    grid-gap: 10px;
    margin: 20px 10px;
    width: 100%;

    @media only screen and (min-width: $sm) and (max-width: $lg) {
      width: 97%;
    }
    @media only screen and (min-width: $xs) and (max-width: $sm) {
      margin: 10px 0;
    }
    @media only screen and (max-width: $xs) {
      margin: 12px 0px 11px 0px;
    } 

    img {
      max-width: 100%;
      max-height: 100%;
      min-width: 100%;
      min-height: 100%;
    }
    &.grid-three {
      grid-template-columns: 1fr 1fr 1fr; 
      height: 45vh;

      @media only screen and (min-width: $sm) and (max-width: $lg) {
        grid-template-columns: 1fr 1fr 1fr;
        height: 30vh; 
      }
      @media only screen and (min-width: $xs) and (max-width: $sm) {
        grid-template-columns: 1fr;
        height: 100vh;
      }
      @media only screen and (max-width: $xs) {
        grid-template-columns: 1fr;
        height: 100vh;
      }   
    }
    &.grid-four{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      height: 32vh;

      @media only screen and (min-width: $sm) and (max-width: $lg) {
        grid-template-columns: 1fr 1fr;
        height: 60vh;
      }
      @media only screen and (min-width: $xs) and (max-width: $sm) {
        grid-template-columns: 1fr 1fr;
        height: 40vh;
      }
      @media only screen and (max-width: $xs) {
        grid-template-columns: 1fr;
        height: 150vh;
      }  
    }
    &.grid-five {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      height: 25vh;
      @media only screen and (min-width: $sm) and (max-width: $lg) {
        grid-template-columns: 1fr 2fr 1fr;
        height: 64vh;
      }
      @media only screen and (min-width: $xs) and (max-width: $sm) {
        grid-template-columns: 1fr 1fr;
        height: 70vh;
      }
      @media only screen and (max-width: $xs) {
        grid-template-columns: 1fr 1fr;
        height: 60vh;
      }  
    }
  } 
}