@import 'src/styles/variables.scss';

nav {
    background-color: $background-alpha;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    border-bottom: 1px solid $font-c;
    font-size: 18px;
    color: $font-white;

    &.scrolled {
        background-color: $background;
        color: $font-c;

        a {
            color: $font-c;
    
            &:hover {
                color: $font-white;
            }
        }

        ul {
            li {
                border-right: 1px solid $font-c;
            }
        }
    }

    a {
        text-decoration: none;
        color: $font-white;

        &:hover {
            color: $font-white;
        }
    }

    .logo {
        font-size: 20px;
        a {
            &:hover {
                color: $font-white;
            }            
        }       
        
    }

    ul {        
        display: flex;
        list-style: none;        

        li {            
            border-right: 1px solid $font-white;
            &:last-child {
                border-right: 0px;                
            }

            a {
                padding: 5px 19px;                
                text-transform: uppercase;

                &:hover {
                    background-color: $theme-c;
                    color: $font-white;
                    padding: 18px 14px;
                    margin: 0 5px;           
                }        
            }            

            &.login {
                display: none;
            }
        }
    }

    .login {
        text-transform: uppercase;        
    }

    .burgerMenu {
        display: none;
        cursor: pointer;
        position: relative;

        .bar1, .bar2, .bar3 {
            width: 30px;
            height: 5px;
            background-color: $theme-c;
            margin: 6px 0;
            transition: 0.4s;
        }
        
        &.change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }
        
        &.change .bar2 {opacity: 0;}
        
        &.change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
        .burgerLinksWraper {
            position: absolute;
            left: -160px;
            display: none;
            border: 1px solid $font-white;
            background-color: $theme-c;
            ul {                
                display: block;
                padding: 0px 20px;
                font-size: 20px;

                li {                    
                    border-right: 0px;
                    border-bottom: 1px solid $font-white;
                    text-align: left;
                    margin: 5px 0px;
                    a {
                        padding: 6px 7px;
                        margin: 4px 0px;                     
                        
                        &:hover {
                            background-color: $font-white;
                            color: $font-black;
                            padding: 0px 7px;
                            margin: 0;           
                        }  
                    }
        
                    
                    &.login {
                        display: block;
                    }                 
                }
            }        
        }        
    }   

    @media only screen and (min-width: $sm) and (max-width: $lg) {
        padding-left: 6%;
        padding-right: 6%;
        font-size: 16px;       
    }
    @media only screen and (min-width: $xs) and (max-width: $sm) {
        padding-left: 4%;
        padding-right: 4%;
        font-size: 14px;

        .logo {
            font-size: 16px;
        }

        ul {
            display: none;
        }

        .login {
            display: none;
        }

        .burgerMenu {
            display: inline-block;            
        }

        
    }
    @media only screen and (max-width: $xs) {
        padding-left: 2%;
        padding-right: 2%;
        font-size: 12px;

        .logo {
            font-size: 14px;
        }

        ul {
            display: none;            
        }

        .login {
            display: none;
        }

        .burgerMenu {
            display: inline-block;            
        }
    }   
}