@import 'src/styles/variables.scss';

.articleTile {
    position: relative;
    img {
        width: 100px;
        height: 100px;
    }

    .tileCont {
        position: absolute;
        bottom: 0px;
        background-color: #653a3a44;
        color: white;
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%;

        .categories {
            background: $font-black;
        }

        span {
            background: $font-black;
        }
    }
}